* {
  box-sizing: border-box;
}

body {
  margin: 0;

  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);

  width: clamp(70vw, 90vw, 80vw);
  height: clamp(30vw, 50vw, 40vw);

  background-color: darksalmon;
}

.row-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.row-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.row-1,
.row-2 {
  width: 200px;
  height: 200px;
}
